.profile {
    flex: 1;
    border-left: 1px solid var(--borderLeft);
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5em 2em 0em 2em;
}

.profile::-webkit-scrollbar {
    width: 0.5em;
    margin-right: 0.2em;
}

.profile::-webkit-scrollbar-thumb {
    background: var(--scrollbarThumb);
    border-radius: 5em;
}

.profile::-webkit-scrollbar-track {
    background: var(--scrollbarTrack);
    border-radius: 5em;
}

.profile .profileinfo {
    height: fit-content;
}

.profile .profileinfo .dp img {
    width: 8em;
    height: 8em;
    border-radius: 50%;
}

.profile .profileinfo .accinfo .username .button {
    background-color: var(--hiddenBackground);
    color: var(--textColor);
}

.profile .profileinfo .accinfo .username .name {
    font-size: 1.2em;
    cursor: pointer;
}

.profile .profileinfo .accinfo .username img {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.circle1 {
    width: 6em;
    height: 6em;
    position: relative;
    cursor: pointer;
}

.circle1::before {
    content: '';
    position: absolute;
    inset: 0em;
    border-radius: 50%;
    background-color: var(--addStoryBorderColor);
}

.circle1 span:first-child {
    position: absolute;
    background-color: var(--addStoryBackgroundColor);
    border-radius: 50%;
    inset: 0.1em;
    z-index: 1;
    border: 3px solid var(--addStoryBackgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.postnav li>div {
    color: var(--profileActiveTab) !important;
}

.proposts .post2-container img {
    width: 20em;
    height: 20em;
    object-fit: cover;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.remove-button{
    background-color: rgb(54 54 54);
}

.remove-button:hover {
    background-color: rgb(48, 48, 48);
}